---
import { Loader2 } from "lucide-astro";
import Toolbar from "../layouts/bar.astro";
import "@src/main.css";
---

<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<head>
  <script src="../utils/global.ts"></script>
  <script is:inline src="/assets/v/bundle.js" defer></script>
  <script is:inline src="/assets/v/config.js" defer></script>
  <link rel="prefetch" href="/assets/s/worker.js" />
  <link rel="prefetch" href="/assets/s/shared.js" />
  <script is:inline src="/assets/s/controller.js" defer></script>
  <script src="../utils/browse.ts"></script>
</head>
<body>
  <Toolbar>
    <div
      id="loader"
      class="z-10 h-screen flex flex-col items-center justify-center"
    >
      <Loader2 class="w-16 h-12 animate-spin text-gray-300" />
      <p class="mt-10 text-center text-2xl text-gray-300">
        Please wait while Lunar loads your content...
      </p>
    </div>
    <iframe
      id="iframe"
      class="absolute top-12 inset-x-0 bottom-0 w-full h-[calc(100vh-3rem)] z-20"
      title=""></iframe>
  </Toolbar>
</body>
