---
import { LoaderCircle } from "lucide-astro";
---

<script is:inline src="./assets/u/bundle.js" defer></script>
<script is:inline src="./assets/u/config.js" defer></script>
<script is:inline src="/bm/index.js" defer></script>

<script src="../utils/go.ts"></script>
<script src="../utils/global.ts"></script>

<body class="bg-gray-900">
  <div id="loading" class="h-screen flex flex-col items-center justify-center">
    <div class="flex flex-col items-center">
      <LoaderCircle class="w-12 h-12 animate-spin" />
      <p class="mt-4 text-center color-head">
        Please wait while Lunar loads your content. Having issues?
        <a
          class="text-blue-500 underline cursor-pointer transition-colors duration-300 hover:text-orange-500"
          href="https://github.com/Lunar-Services/Lunar/issues/new/choose"
          target="_blank">Report it!</a
        >
      </p>
    </div>
  </div>
  <iframe
    src="/p/hvtrs8%2F-Gmoelg.aoo"
    class="fixed inset-0 w-full h-full border-0 outline-none z-[9999]"
    sandbox="allow-same-origin allow-scripts allow-forms allow-pointer-lock allow-modals allow-orientation-lock"
    id="iframe"
  >
  </iframe>
</body>
