---
import Main from "../layouts/main.astro";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <script src="../utils/g.ts"></script>
    <script src="../utils/global.ts"></script>
  </head>
  <Main>
    <body class="text-white font-poppins m-0 p-5">
      <div class="flex justify-center items-center space-x-2 mt-4">
        <div class="relative">
          <button
            id="category-button"
            class="bg-gray-700 text-white border border-gray-600 rounded-full p-3 text-base font-semibold flex items-center hover:bg-gray-600 transition duration-200"
          >
            <span id="category-label" class="w-24">Sort By</span>
            <svg
              class="ml-1 w-4 h-4"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>
          <div
            id="category-menu"
            class="hidden absolute right-0 bg-gray-800 border border-gray-600 rounded-md shadow-lg mt-2 z-10"
          >
            <ul class="py-2">
              <li
                class="px-4 py-2 text-white hover:bg-gray-700 cursor-pointer"
                data-value=""
              >
                All Categories
              </li>
              <li
                class="px-4 py-2 text-white hover:bg-gray-700 cursor-pointer"
                data-value="lastPlayed"
              >
                Last Played
              </li>
            </ul>
          </div>
        </div>
        <input
          id="searchInput"
          type="text"
          class="w-64 h-12 px-4 text-center text-white bg-gray-800 border border-gray-600 rounded-full shadow-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 transition-all duration-200"
          placeholder="Search for a game..."
        />
      </div>

      <div
        id="lastPlayedContainer"
        class="mt-4 flex flex-wrap justify-center gap-4"
      >
      </div>
      <div id="gameContainer" class="mt-4 flex flex-wrap justify-center gap-4">
      </div>
    </body>
  </Main>
</html>