---
import { LoaderCircle } from 'lucide-astro'
---
<script src="../utils/go.ts" />
<body class=" bg-grey" />
<div id="loading" class="h-screen flex flex-col items-center justify-center">
  <LoaderCircle class="w-8 h-8 animate-spin" />
  <p class="mt-4 text-center">Please wait while Lunar loads your content.</p>
</div>
