---
import Main from "../layouts/main.astro";
let Placeholder = "unidentified";
---

<script src="../utils/main.ts"></script>
<script src="../utils/cloak.ts"></script>

<Main>
  <div class="flex items-center justify-center h-screen">
    <div class="text-center">
      <h1
        class="mt-0 text-6xl color-head font-bold text-shadow-bubble text-shadow-bubble-blur"
      >
        Lunar
      </h1>
      <form id="sear" method="post" class="flex justify-center mt-40">
        <input
          id="input"
          class="color-ph text-black w-96 h-12 rounded-md border-gray-700 border-2 text-center"
          type="text"
          placeholder={Placeholder}
        />
      </form>
    </div>
  </div>
</Main>

<script>
  const inputElement = document.getElementById("input") as HTMLInputElement;
  inputElement.placeholder = `Search with a search query using ${localStorage.getItem("@lunar/settings/se") || "Google"} or enter a URL`;
</script>
