---
import look from "../layouts/main.astro";
---

<html>
  <head>
    <script src="../components/cloak.ts"></script>
  </head>
  <body>
    <h1 class="text-4xl flex items-center justify-center">Orbit</h1>
  </body>
</html>
