---
import '@src/main.css';
import { Image } from 'astro:assets';
import {
  ArrowLeft,
  ArrowRight,
  MoonStar,
  RotateCw,
  Gamepad,
  Ellipsis,
  Grid2X2Plus,
  Settings,
  Maximize,
  SquareChevronRight,
  Star,
  Link2,
} from 'lucide-astro';
---

<!doctype html>
<html lang="en" class="h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Home</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script is:inline src="/bm/index.js" defer></script>
    <script is:inline src="/assets/packaged/v/config.js" defer></script>
    <script is:inline src="/assets/packaged/v/bundle.js" defer></script>
    <link rel="prefetch" href="/assets/packaged/scram/worker.js" />
    <link rel="prefetch" href="/assets/packaged/scram/shared.js" />
    <script is:inline src="/assets/packaged/scram/controller.js" defer></script>
    <script src="@src/utils/main.ts"></script>
    <script src="@src/utils/search.ts"></script>
  </head>

  <body class="relative h-screen">
    <div
      class="absolute border-r-[3px] border-black border-solid bg-background-overlay left-0 h-screen w-[52px] z-50 flex flex-col items-center"
    >
      <a href="./" aria-label="Go Home" id="moonStar" class="mt-4">
        <MoonStar
          class="text-[#a5adce] hover:text-blue-400 w-8 h-8 transition duration-150 transform hover:scale-110"
        />
      </a>
      <hr class="w-8 border-t-[2px] border-[#a5adce] my-4" />
      <div
        class="flex-grow flex flex-col items-center justify-center space-y-4 -mt-8"
      >
        <div id="gam">
          <Gamepad
            class="text-[#a5adce] hover:text-white w-8 h-8 transition duration-150 transform hover:scale-110"
          />
        </div>
        <div id="ap">
          <Grid2X2Plus
            class="text-[#a5adce] hover:text-white w-8 h-8 transition duration-150 transform hover:scale-110"
          />
        </div>
        <div id="gear">
          <Settings
            class="text-[#a5adce] hover:text-white w-8 h-8 transition duration-150 transform hover:scale-110"
          />
        </div>
      </div>
    </div>
    <div
      class="border-b-[3px] pt-4 border-black border-solid flex justify-between items-center bg-background-overlay p-2 space-x-4 ml-[52px]"
    >
      <div class="flex space-x-4">
        <button
          aria-label="Go Foward"
          id="forward"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <ArrowLeft
            class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </button>

        <button
          title="Back"
          aria-label="Go Back"
          id="back"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <ArrowRight
            alt="back"
            class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </button>
        <button
          title="Refresh"
          id="reload"
          aria-label="Reload the Tab"
          class="relative group w-8 h-8 flex items-center justify-center"
        >
          <RotateCw
            alt="refresh"
            class="text-[#a5adce] group-hover:animate-spin group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </button>
      </div>
      <form method="post" class="flex-grow mx-4 relative" id="form">
        <div class="relative">
          <input
            autocomplete="off"
            id="input"
            type="text"
            placeholder="Search..."
            class="pl-14 py-2 pr-4 w-full rounded-full border border-[#a5adce] text-text-SECONDARY bg-transparent focus:outline-none focus:ring-2 focus:ring-[#a5adce]"
          />
          <Image
            src="/assets/images/engines/google.png"
            alt="Search Engine"
            width={25}
            id="favicon"
            loading="eager"
            height={26}
            class="rounded-full absolute left-3 top-1/2 transform -translate-y-1/2"
          />
        </div>
        <button
          type="button"
          id="link"
          class="absolute right-2 top-1/2 transform -translate-y-1/2 group w-8 h-8 flex items-center justify-center"
        >
          <Link2
            class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
          />
          <div
            class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
          >
          </div>
        </button>
      </form>

      <button
        id="fav"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <Star
          class="text-[#a5adce] group-hover:text-yellow-400 w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
      <button
        id="console"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <SquareChevronRight
          class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
      <button
        id="full-screen"
        class="relative group w-8 h-8 flex items-center justify-center"
      >
        <Maximize
          class="text-[#a5adce] group-hover:text-white w-6 h-6 z-10 transition-transform duration-200 ease-in-out"
        />
        <div
          class="absolute inset-0 rounded-full bg-transparent group-hover:bg-white/20 transition-colors duration-200"
        >
        </div>
      </button>
    </div>
    <div
      id="starting"
      class="inset-x-0 mt-[14rem] flex flex-col items-center justify-start p-4 z-30"
    >
      <strong class="text-7xl text-text-HEADER font-bold">Lunar</strong>
      <p
        id="quote"
        class="font-semibold mt-8 text-base text-text-SECONDARY text-center"
      >
        Loading quote...
      </p>
      <form method="post" id="startForm" class="w-full flex justify-center">
        <div class="mt-12 relative w-full max-w-[25rem] z-40">
          <input
            type="text"
            id="startSearch"
            autocomplete="off"
            class="pl-10 font-medium text-center w-full bg-background-overlay text-text-SECONDARY p-2 rounded-full border border-[#a5adce] cursor-pointer"
            placeholder="Search..."
          />
        </div>
      </form>
    </div>
    <div
      id="load"
      class="hidden mt-80 absolute inset-0 flex-col items-center justify-center p-4"
    >
      <div class="flex justify-center items-center space-x-4 mb-6">
        <Ellipsis class="w-24 h-24 text-text-HEADER animate-bounce delay-150" />
      </div>
      <h1 class="text-center text-4xl font-bold mt-10 text-text-HEADER">
        <strong>Please wait while Lunar loads your content...</strong>
      </h1>
    </div>
    <iframe
      id="frame"
      loading="lazy"
      title=""
      class="fixed z-10 top-[68px] left-[52px] h-[calc(100vh-60px)] w-[calc(100vw-52px)]"
    ></iframe>
    <script src="@src/utils/browse.ts"></script>
    <script src="@src/utils/home.ts"></script>
  </body>
</html>
