---
import Look from "../layouts/main.astro";
---

<html>
  <head>
    
    <script src="../components/cloak.ts" />
  </head>
  <body class="min-h-screen bg-gradient-to-b from-gray-100 to-gray-300">
    <Look>
    </Look>
  </body>
</html>
