---
import Main from "../layouts/main.astro";
import Searcheng from "../utils/sengine";
const Placeholder: string = `Enter a URL or search by query using ${Searcheng}`;
---

<script src="../utils/cloak.ts"></script>
<script src="../utils/main"></script>
<Main>
  <h1 class="">Lunar</h1>
  <form
    id="sear"
    method="post"
    class="h-screen flex items-center justify-center"
  >
    <input id="input" class="" type="text" placeholder={Placeholder} />
  </form>
</Main>
