---
import SettingsCard from "../layouts/settings.astro";
import { Palette, Users, Info, House } from "lucide-astro";
const Version = `v${process.env.npm_package_version}`;
---

<head>
  <script src="../utils/st.ts"></script>
  <script src="../utils/global.ts"></script>
</head>
<body>
  <div class="flex min-h-screen text-white">
    <nav class="w-64 bg-gray-800 p-4">
      <ul class="space-y-4">
        <li>
          <button
            class="setting-btn w-full text-left p-2 bg-gray-700 rounded hover:bg-gray-600 flex items-center space-x-2"
            onclick="window.location.href='./';"
          >
            <House />
            <span>Home</span>
          </button>
        </li>
        <li>
          <button
            class="setting-btn w-full text-left p-2 bg-gray-700 rounded hover:bg-gray-600 flex items-center space-x-2"
            data-target="ptype"
          >
            <span>Proxy Settings</span>
          </button>
        </li>
        <li>
          <button
            class="setting-btn w-full text-left p-2 bg-gray-700 rounded hover:bg-gray-600 flex items-center space-x-2"
            data-target="customization"
          >
            <Palette />
            <span>Customization</span>
          </button>
        </li>
        <li>
          <button
            class="setting-btn w-full text-left p-2 bg-gray-700 rounded hover:bg-gray-600 flex items-center space-x-2"
            data-target="credits"
          >
            <Users />
            <span>Credits</span>
          </button>
        </li>
        <li>
          <button
            class="setting-btn w-full text-left p-2 bg-gray-700 rounded hover:bg-gray-600 flex items-center space-x-2"
            data-target="info"
          >
            <Info />
            <span>Info</span>
          </button>
        </li>
      </ul>
    </nav>

    <div id="content-container" class="flex-grow p-6">
      <div id="ptype" class="hidden">
        <SettingsCard
          title="Proxy Type"
          description="Select the proxy type used for searching."
        >
          <div class="mt-4">
            <label for="ptype" class="block text-gray-300 mb-2"
              >Proxy Type:</label
            >
            <select
              name="Proxy"
              id="pinput"
              class="w-full p-2 rounded bg-gray-700 text-white"
            >
              <option value="uv">(Default) Ultraviolet</option>
              <option value="sj">ScramJet</option>
            </select>
          </div>
        </SettingsCard>
      </div>
      <div id="customization" class="hidden">
        <SettingsCard
          title="Theme"
          description="Choose the theme that best suits your preference."
        >
          <div class="mt-4">
            <label for="theme" class="block text-gray-300 mb-2">Theme:</label>
            <select
              id="theme"
              class="w-full p-2 rounded bg-gray-700 text-white"
            >
              <option value="dark">Dark</option>
              <option value="light">Light</option>
            </select>
          </div>
        </SettingsCard>
        <br />
        <SettingsCard
          title="Background Image"
          description="Set a custom background image for your background."
        >
          <div class="mt-4">
            <label for="bg-input" class="block text-gray-300 mb-2"
              >Background Image URL:</label
            >
            <input
              type="text"
              id="bg-input"
              class="w-full p-2 rounded bg-gray-700 text-white"
            />
          </div>
        </SettingsCard>
      </div>
      <div id="credits" class="hidden">
        <SettingsCard
          title="Credits"
          description="Credits to the contributors who made Lunar possible."
        >
          <ul class="list-disc list-inside mt-4 text-gray-400">
            <li>owski09</li>
            <li>endlessvortex</li>
            <li>8bitbug</li>
            <li>.evicly</li>
          </ul>
          <p class="mt-4 text-gray-400">
            Thank you to everyone who contributed to Lunar!
          </p>
        </SettingsCard>
      </div>
      <div id="info" class="hidden">
        <SettingsCard
          title="Info"
          description="Details about the Lunar project."
        >
          <div class="mt-4">
            <p class="text-gray-400">Version: {Version}</p>
            <p class="mt-4 text-gray-400">
              For questions or conserns contact us at:
              <a
                href="mailto:uselunarproxy@gmail.com"
                class="text-blue-400 hover:underline">uselunarproxy@gmail.com</a
              >
            </p>
          </div>
        </SettingsCard>
      </div>
    </div>
  </div>
</body>
