---
import Main from "../layouts/main.astro";
---

<Main>
  <div class="flex justify-center">
    <h1 class="mt-9 text-3xl text-white font-bold mb-4 text-center">
      Lunar's Terms Of Service
    </h1>
  </div>

  <div class="flex flex-col justify-center text-white max-w-4xl mx-auto p-4">
    <h2 class="mt-9 text-2xl font-bold mb-4">1. Acceptance of Terms</h2>
    <p>
      By accessing this website, along with all domains, pages, and subdomains
      under it, you (The Viewer) agree to indemnify and hold harmless all
      developers, creators, and all other persons, organizations, and companies
      related to Lunar ("Lunar"). Use of the website and its functionality
      signifies your acceptance of these terms.
    </p>

    <h2 class="mt-9 text-2xl font-bold mb-4">2. Indemnification</h2>
    <p>
      You agree to indemnify and hold harmless all developers, creators, and
      other related entities from any claims, liabilities, or damages that may
      arise from the use of this website or related software.
    </p>

    <h2 class="mt-9 text-2xl font-bold mb-4">
      3. Age Restriction for Adult Content
    </h2>
    <p>
      Access to adult content is restricted to users who are 18 years of age or
      older. By using this website and accessing any adult content, you confirm
      that you are of legal age in your jurisdiction. Lunar is not responsible
      for any consequences arising from your access to or use of adult content,
      nor are we liable for any actions you take based on the content found on
      the website.
    </p>

    <h2 class="mt-9 text-2xl font-bold mb-4">
      4. Software and Functionality Use
    </h2>
    <p>
      The use of the software and functionality contained herein also falls
      under the jurisdiction of this binding contract. Any usage of features,
      services, or code provided by Lunar must comply with the terms laid out
      here.
    </p>

    <h2 class="mt-9 text-2xl font-bold mb-4">5. Limitation of Liability</h2>
    <p>
      You agree to release and hold Lunar free of all liability for any
      consequences, direct or indirect, arising from the use of this website,
      related domains, or software in any form for any reason.
    </p>

    <h2 class="mt-9 text-2xl font-bold mb-4">6. Binding Agreement</h2>
    <p>
      By accessing this website and using the functionality contained therein in
      any way, shape, or form, you unconditionally enter into this binding Terms
      of Service Agreement.
    </p>

    <h2 class="mt-9 text-2xl font-bold mb-4">7. Right to Refuse Service</h2>
    <p>
      If you do not agree with these terms, please close the website and/or
      related software, and cease all use of the website, related functionality,
      and contact with members of Lunar.
    </p>
  </div>
</Main>
