@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #111827;
    --text: #f9fafb;
  }

  .light {
    --background: #374151;
    --text: #1f2937;
  }

  body {
    @apply bg-background text-text;
  }
}
