---
import { Image } from "astro:assets";
import Globe from "../globe.png";
import { X, Link2, House, ArrowLeft, ArrowRight, RotateCw } from "lucide-astro";
---
<div
id="bar"
class="h-12 w-full bg-gray-800 fixed top-0 z-50 border-b border-gray-700 flex items-center justify-between px-4"
>
<div class="flex items-center">
  <Image
    src={Globe}
    id="favicon"
    class="h-8 w-8 rounded-full"
    loading="eager"
    alt=""
  />
  <div id="name" class="text-white ml-2"></div>
</div>
<div
  class="absolute left-1/2 transform -translate-x-1/2 w-full max-w-[600px] px-4"
>
  <div class="relative w-full">
    <input
      id="url"
      class="w-full max-w-[600px] truncate text-sm px-2 py-1 pl-10 text-white text-center bg-gray-600 border border-gray-700 rounded-full pr-10"
    />
    <button
      type="button"
      id="copy"
      class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-300 text-2xl hover:text-white transition duration-200"
    >
      <Link2 class="w-[24px] h-[24px]" />
    </button>
    <button
      type="button"
      id="clear"
      class="absolute right-3 top-1/2 transform -translate-y-1/2 text-gray-300 text-2xl hover:text-red-700 focus:outline-none transition duration-200"
    >
      <X class="w-[24px] h-[24px]" />
    </button>
  </div>
</div>
<div class="flex items-center">
  <button
    type="button"
    onclick="window.location.href = '/';"
    class="text-gray-300 text-2xl focus:outline-none hover:text-white transition duration-200"
  >
    <House class="w-[22px] h-[22px]" />
  </button>
  <button
    type="button"
    id="reload"
    class="text-gray-300 text-2xl hover:text-white transition duration-200 ml-2"
  >
    <RotateCw class="w-[22px] h-[22x]" />
  </button>
  <button
    type="button"
    id="back"
    class="text-gray-300 text-2xl hover:text-white transition duration-200 ml-2"
  >
    <ArrowLeft class="w-[24px] h-[24px]" />
  </button>
  <button
    type="button"
    id="forward"
    class="text-gray-300 text-2xl hover:text-white transition duration-200 ml-2"
  >
    <ArrowRight class="w-[24px] h-[24px]" />
  </button>
</div>
</div>
<slot />