---
import { Gamepad, Cog } from "lucide-astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="./assets/u/bundle.js"></script>
    <script is:inline src="./assets/u/config.js"></script>
  </head>
  <body class="bg-gray-900 text-white">
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl font-bold">Logo</a>
        <ul class="flex space-x-6 text-white">
          <li class="flex items-center">
            <Gamepad class="icon w-8 h-8 mr-2" />
            <a href="./gm" class="block py-2 px-4">Games</a>
          </li>
          <li class="flex items-center">
            <Cog id="gear" class="icon w-8 h-8 mr-2" />
            <a href="./st" class="block py-2 px-4">Settings</a>
          </li>
        </ul>
      </div>
    </nav>

    <script>
      if ("serviceWorker" in navigator) {
        window.addEventListener("load", () => {
          navigator.serviceWorker
            .register("./sw.js", { scope: "/p/" })
            .then(({ scope }) =>
              console.info(
                "Successfully registered Service Workers with scope:",
                scope,
              ),
            )
            .catch((error) =>
              console.error("Failed to register Service Worker:", error),
            );
        });
      }
    </script>
    <slot />
  </body>
</html>
