<!doctype html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<html>
  <head>
    <head></head>
    <body>
      <script is:inline></script>
    </body>
  </head>
</html>
