---
import { Gamepad, Cog, Album } from "lucide-astro";
import "@src/main.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script is:inline src="./assets/fonts/bundle.js" defer></script>
    <script is:inline src="./assets/fonts/config.js" defer></script>
    <script is:inline src="/bm/index.js" defer></script>
  </head>
  <body class="text-white">
    <nav class="bg-gray-800 p-4">
      <div class="container mx-auto flex justify-between items-center">
        <a href="/" class="text-white text-2xl font-bold">Logo</a>
        <ul class="flex space-x-6 text-white">
          <li class="flex items-center">
            <a href="./gm" class="flex items-center py-2 px-4">
              <Gamepad class="icon w-8 h-8 mr-2" />
              Games
            </a>
          </li>

          <li class="flex items-center">
            <a href="./tos" class="flex items-center py-2 px-4">
              <Album class="icon w-7 h-7 mr-2" />
              TOS
            </a>
          </li>
          <li class="flex items-center">
            <a href="./st" class="flex items-center py-2 px-4">
              <Cog class="icon w-8 h-8 mr-2" />
              Settings
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <script>
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker
          .register("./sw.js", { scope: "/us/" })
          .then(({ scope }) =>
            console.log("Service Worker registered with scope:", scope),
          )
          .catch((error) =>
            console.error("Service Worker registration failed:", error),
          );
      }
    </script>
    <slot />
  </body>
</html>
