<!doctype html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<html class="">
  <head>
    <script is:inline src="./assets/u/bundle.js"></script>
    <script is:inline src="./assets/u/config.js"></script>
    <head></head>
    <body>
      <slot />
      <script is:inline>
        if ("serviceWorker" in navigator) {
          window.addEventListener("load", () => {
            navigator.serviceWorker
              .register("./sw.js", { scope: "/p/" })
              .then(({ scope }) =>
                console.log(
                  "Successfully registered Service Workers with scope:",
                  scope,
                ),
              )
              .catch((error) =>
                console.error("Failed to register Service Worker:", error),
              );
          });
        }

        const fm = document.getElementById("sear");
        const input = document.getElementById("input");
        fm.addEventListener("submit", (event) => {
          event.preventDefault();
          localStorage.setItem(
            "@lunar/gourl",
            "/p/" + config.encodeUrl(input.value.trim()),
          );
        });
      </script>
    </body>
  </head>
</html>
