<!doctype html>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta name="generator" content={Astro.generator} />
<html>
  <head>
    <script is:inline src="./assets/u/bundle.js"></script>
    <script is:inline src="./assets/u/config.js"></script>
    <head></head>
    <body class="bg-bgcolr">
      <slot />
    </body>
  </head>
</html>
